<div style="display: flex; text-align: right; background-color: #333;">
  <div>
    <h3>
      <a
        style="
          text-decoration: none;
          padding: 1rem;

          color: #f4f4f4;
          border: 1px #f4f4f4;
        "
        href="/register"
        >Register</a
      >
    </h3>
  </div>
  <div>
    <h3>
      <a
        style="
          text-decoration: none;
          padding: 1rem;

          color: #f4f4f4;
          border: 1px #f4f4f4;
        "
        href="/login"
        >Login</a
      >
    </h3>
  </div>
  <div>
    <form style="padding: 1rem;" action="/logout?_method=DELETE" method="POST">
      <button type="submit">Logout</button>
    </form>
  </div>
</div>

<h1>halooo bre = <strong><%=name%> </strong></h1>
